img {
	width: 180px;
	height: 180px;
}

.playerRow {
  margin-top: 10px;
	min-height: 250px;
}

.arena {
  margin-top: 10px;
	min-height: 250px;
}

.lockButtons {
  margin-top: 10px;
}

#attack {
  margin-top: 60px;
}

.stats {
  margin-top: 10px;
  min-height: 250px;
}

.gameStats, .attackerStats, .defenderStats {
	border: 2px solid black;
	border-radius: 3px;
  min-height: 250px;
}

.gameStats {
  width: 740px;
  margin-left: 20px;
  margin-right: 20px;
}

.attackerStats {
  margin-left: 20px;
  width: 300px;
}

.defenderStats {
  margin-right: 20px;
  width: 300px;
}

button {
	padding: 10px;
  margin: 10px;
}

.comments {
  min-height: 400px;
}

.defeated {
  border: 2px solid black;
  border-radius: 3px;
  min-height: 400px;
  margin-right: 20px;
}

.defender {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.attacker {

  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}


