/*container-fluid {
  background-image: url("../images/starwarsbg.jpg");
 
}*/

body {
   background: url("../images/starrysky.jpg") no-repeat fixed;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   font-size: 20px;
   color: white; text-shadow: black 0.1em 0.1em 0.2em;
   font-weight: 600;
}

.heading {
 min-height: 80px;
}

img {
	width: 180px;
	height: 180px;
}

.playerRow {
  margin-top: 10px;
	min-height: 220px;
}

.contender-image>img {
  border: 3px solid white;
}

.arena {
  margin-top: 10px;
	min-height: 220px;
}

.lockButtons {
  margin-top: 10px;
}

#attack {
  margin-top: 60px;
}

.stats {
  margin-top: 10px;
  min-height: 250px;
}

.gameStats, .attackerStats, .defenderStats {
	border: 2px solid black;
	border-radius: 3px;
  min-height: 250px;
}

.gameStats {
  width: 740px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 50px;
}

.attackerStats {
  margin-left: 20px;
  width: 300px;
  line-height: 50px;
}

.text {
  margin-top: 20px;
}

.defenderStats {
  margin-right: 20px;
  width: 300px;
  line-height: 50px;
}

button {
	padding: 10px;
  margin: 10px;
}

.gameButtons {
  margin-left: 335px;
}

.comments {
  min-height: 380px;
  border: 2px solid black;
  margin-right: 20px;
  line-height: 50px;
}

#directions {
  -webkit-animation: blinker 1.5s  infinite ;
  -moz-animation: blinker 1.5s  infinite ;
  animation: blinker 1.5s  infinite ;
  font-size: 30px;
  margin-top: 130px;
  margin-left: 30px;
  margin-right: 30px;
}

.defeated {
  border: 2px solid black;
  border-radius: 3px;
  min-height: 400px;
  margin-right: 20px;
}

.defeated-image>img {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.defender {
   margin-left: 300px;
    width: 200px;
}

.defender-image {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.winner {
   box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00FF83, 0 0 70px #00FF83, 0 0 80px #00FF83, 0 0 100px #00FF83, 0 0 150px #00FF83;
}

.attacker {
  margin-left: 80px;
  width: 200px;
}

.attacker-image {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #EF003B, 0 0 80px #EF003B, 0 0 100px #EF003B, 0 0 150px #EF003B, 0 0 180px #EF003B;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #EF003B, 0 0 40px #EF003B, 0 0 50px #EF003B, 0 0 75px #EF003B, 0 0 90px #EF003B;
  }
}

@-webkit-keyframes neon2 {
   from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #00F6FF, 0 0 80px #00F6FF, 0 0 100px #00F6FF, 0 0 150px #00F6FF, 0 0 180px #00F6FF;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #00F6FF, 0 0 40px #00F6FF, 0 0 50px #00F6FF, 0 0 75px #00F6FF, 0 0 90px #00F6FF;
  }
}

@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 180px #fff;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff, 0 0 90px #fff;
  }
}

@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #ffed93, 0 0 30px #ffed93, 0 0 40px #ffed93, 0 0 50px #ffed93; /*, 0 0 60px #ffed93, 0 0 70px #ffed93, 0 0 80px #ffed93;*/
  }
  to {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #ffed93, 0 0 15px #ffed93, 0 0 20px #ffed93, 0 0 25px #ffed93; /*, 0 0 30px #ffed93, 0 0 35px #ffed93, 0 0 40px #ffed93;*/
  }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
